### Question 2: Create a series from a list, numpy array, dict

In [4]:
import pandas as pd
import numpy as np
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist,myarr))

### 3. How to convert index of series into column of a dataframe?

In [5]:
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist,myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     d  3
4     e  4

### 4. How to combine many series to form a dataframe?

In [7]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1, ser2], axis = 1)
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

### 5. How to assign name to series index?

In [9]:
ser.name = 'alphabets'
ser.head()

a    0
b    1
c    2
d    3
e    4
Name: alphabets, dtype: int64

### 6. Get items of series A not present in series b

In [10]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# output
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64